logs/
prior_elicitation/
**/__pycache__
.spyproject/
.vscode/
airflow.cfg
airflow.db
dags/dags_airflow/
elicit/validation/misc_plotting/
elicit/user_input/configuration_files/
elicit/user_input/config_files/
webserver_config.py